services:
  postgres:
    image: postgres:17
    container_name: postgres 
    environment:
      POSTGRES_DB: postgres 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root 
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - shared-network

volumes:
  postgres_data:

networks:
  shared-network:
    external: true
  
