services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    networks:
      - shared-network
    restart: unless-stopped

  mc-init:
    image: quay.io/minio/mc
    depends_on:
      - minio
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
        until mc alias set dockerminio http://minio:9000 minioadmin minioadmin; do
          echo 'Aguardando MinIO...';
          sleep 3;
        done;
        mc mb --ignore-existing dockerminio/user-photos;
        mc anonymous set download dockerminio/user-photos;
        mc mb --ignore-existing dockerminio/admin-files;
        echo 'Buckets configurados!';
        exit 0;
      "
    networks:
      - shared-network

networks:
  shared-network:
    external: true

